<% layout("/layouts/boilerplate") -%>
<style>
  #filters {
    display: flex;
    align-items: center;
  }
  .filter{
    margin-left: 3rem;
    margin-top: 1rem;
    opacity: 0.7;
    text-align: center;
  }
  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }
  .tax-info{
    display: none;
  }
  #tax-toggler{
    border: 2px solid rgba(0, 0, 0, 0.364);
    border-radius: 10px;
    height: 3.2rem;
    margin-left: 3rem;
    display: flex;
    align-items: center;
  }
  .tax-toggler-content{
    padding-left: 0.5rem;
  }
  .GSTdiv{
    display: flex;
    align-items: center;
    margin-right: 0px;
  }
  a{
    text-decoration: none;
    color: gray;
  }
</style>
<body>
  <div class="container mb-3">
    <div class="row">
      <a href="http://localhost:8080/listings">
        <div id="filters" class="overflow-auto col-10">
          <div class="filter">
            <i class="fa-solid fa-fire"></i>
            <p>trending</p>
          </div>
      </a>
        <a href="/listings/filter/Rooms">
          <div class="filter">
            <i class="fa-solid fa-bed"></i>
            <p>Rooms</p>
          </div>
        </a>
        <a href="/listings/filter/Beach">
          <div class="filter">
            <i class="fa-solid fa-umbrella-beach"></i>
            <p>Beach</p>
          </div>
        </a>
        <a href="/listings/filter/Iconi Cities">
          <div class="filter">
            <i class="fa-solid fa-city"></i>
            <p>Iconi cities</p>
          </div>
        </a>
        <a href="/listings/filter/Cabins">
          <div class="filter">
            <i class="fa-solid fa-house"></i>
            <p>cabins</p>
          </div>
        </a>
        <a href="/listings/filter/Artic">
          <div class="filter">
            <i class="fa-regular fa-snowflake"></i>
            <p>Arctic</p>
          </div>
        </a>
        <a href="/listings/filter/Castels">
          <div class="filter">
            <i class="fa-brands fa-fort-awesome"></i>
            <p>Castles</p>
          </div>
        </a>
        <a href="/listings/filter/Ski-in/out">
          <div class="filter">
            <i class="fa-solid fa-person-skiing"></i>
            <p>Ski-in/out</p>
          </div>
        </a>
        <a href="/listings/filter/Tower">
          <div class="filter">
            <i class="fa-solid fa-gopuram"></i>
            <p>Tower</p>
          </div>
        </a>
        <a href="/listings/filter/Boats">
          <div class="filter">
            <i class="fa-solid fa-sailboat"></i>
            <p>Boats</p>
          </div>
        </a>
        <a href="/listings/filter/Lake">
          <div class="filter">
            <i class="fa-solid fa-water"></i>
            <p>Lake</p>
          </div>
        </a>
      </div>
      <div class="col-2 GSTdiv">
        <button type="button" class="btn btn-info" id="ShowGST">Show total taxes</button>
      </div>
    </div>
  </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
      <%for(listing of allListings){%>
      <a href="/listings/<%=listing._id%>" class="listing-link">
        <div class="card col listing-card">
          <img src="<%=listing.image.url%>" class="card-img-top" alt="listing image" style="height: 20rem;">
          <div class="card-body">
            <p class="card-text">
              <b style="font-size: 1.1rem;"><%=listing.title%></b>
              <hr>
              <span><%=listing.type%></span>
              <br>
              &#x20B9; <%= listing.price%>/night
              <span class="tax-info"> &nbsp;&nbsp; +18% GST</span>
            </p>
          </div>
        </div>
      </a>
      <%}%>
    </div>
</body>

<script>
  let togglebtn = document.querySelector("#ShowGST");
  let tax_info = document.querySelectorAll(".tax-info");
  togglebtn.addEventListener("click" , ()=>{
    for(ele of tax_info){
      if(ele.style.display == ""){
        ele.style.display = "inline";
      }
      else{
        ele.style.display = "";
      }
    }
  })
</script>